<!DOCTYPE html>
<html>
  <head>
    <title>Gilles Potte: <%= title %></title>
    <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.1.1/bloodhound.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-camera-retro" aria-hidden="true"></i> Gilles Potte</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class=<%=title=='Home'?'active':undefined%>><a href="/">Home <span class="sr-only">(current)</span></a></li>
              <li class=<%=title=='365'?'active':undefined%>><a href="/365">Project 365</a></li>
              <li class=<%=title=='portfolio'?'active':undefined%>><a href="/portfolio">Portfolio</a></li>
              <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <%categories.forEach((categorie)=>{%>
                            <li><a href="/categories/<%=categorie.name%>"><%=categorie.name%></a></li>
                          <%});%>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Random Photo</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Last photos</a></li>
                        </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class=<%=title=='Instagram'?'active':undefined%>><a href="<%=gpotte.instagram%>">Instagram</a></li>
              <li><a data-toggle="modal" data-target="#contact">Contact</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="container">
<% include contact %>
